<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.warrenjoe92.cordova.DurationPicker"
    version="0.0.0">

    <engines>
        <engine name="cordova" version=">=2.8.0" />
    </engines>

    <name>File Chooser</name>

    <js-module src="www/durationPicker.js" name="DurationPicker">
        <clobbers target="durationPicker" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="DurationPicker">
                <param name="android-package" value="com.warrenjoe92.cordova.DurationPicker"/>
            </feature>
        </config-file>

        <source-file src="src/android/DurationPicker.java" target-dir="src/com/warrenjoe92/cordova"/>
        <source-file src="src/android/DurationPickerFragment.java" target-dir="src/com/warrenjoe92/cordova"/>

    </platform>

</plugin>
